@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overscroll-behavior: none;
}
.draggable {
	--wails-draggable: drag;
}
@-webkit-keyframes hueRotate {
	from {
		-webkit-filter: hue-rotate(0deg);
	}
	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

.pro {
	color: #f47594;
	animation: hueRotate 15s ease-in-out infinite;
	-webkit-animation: hueRotate 15s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}